header{
    display: flex;
    justify-content:space-between;
    min-height: 70px;   
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(135deg, #161569, #2f3f80, #525be0, #00b7d4);
    background-size:500%;
    animation: faminado 10s infinite;
}
@keyframes faminado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    width:px;
    margin-right: 10px;
    position: relative;
    border-radius: 20px;
    margin-left: 100px;
    
    
}

a{
    text-decoration: none;
    color:white;

}

nav a{
    font-weight: 600px;
    padding-right: 45px;
}

nav a:hover{
    color:#00b7d4;
}

.titulo{
    text-align: center;
}
