header{
    display: flex;
    justify-content:space-between;
    min-height: 70px;   
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(135deg, #161569, #2f3f80, #525be0, #00b7d4);
    background-size:500%;
    animation: faminado 10s infinite;
}
@keyframes faminado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    width:px;
    margin-right: 10px;
    position: relative;
    border-radius: 20px;
    margin-left: 100px;
    
    
}

a{
    text-decoration: none;
    color:white;

}

nav a{
    font-weight: 600px;
    padding-right: 45px;
}

nav a:hover{
    color:#00b7d4;
}

.titulo{
    text-align: center;
}

.caja1{
    background-color:white;
    width: 600px;
    height: 250px;
    
}

.caja1 img{
    width: 10%;
    height: 30%;
}

.caja2{
    background-color: white;
    width: 600px;
    height: 250px;
    margin-top: -15.5px;
}

.caja2 img{
    width: 15%;
    height: 30%;
}

.caja3{
    background-color: white;
    width: 600px;
    height: 250px;
    margin-top: -16px;
}

.caja3 img{
    width: 15%;
    height: 30%;
}

.caja4{
    background-color: white;
    width: 600px;
    height: 250px;
  
}

.caja4 img{
    width: 13%;
    height: 30%;
}

.caja5{
    background-color: white;
    width: 600px;
    height: 250px;
    margin-top: -16px;

}

.caja5 img{
    width: 13%;
    height: 30%;
}

.caja6{
    background-color: white;
    width: 600px;
    height: 250px;
    margin-top: -16px;

}

.caja6 img{
    width: 13%;
    height: 30%;
}

.todas_las_cajas{
    display: flex;
    position: absolute;
    left: 50px;
}

.columna-1{
    position: absolute;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
    

}

.columna-2{
    position: absolute;
    width: 50%;
    margin-left: 790px;
    flex-direction: column;
}