.fondo {
    position: absolute;
    margin-top: -900px;
    margin-left: -300px;
    height: 1800px;
    width: 1000px;
    background-color: rgb(8, 106, 253);
    border-radius: 50%;
}

.fondo2 {
    margin-top: 770px;
    margin-left: -10px;
    position: absolute;
    width: 700px;
    height: 200px;
    background-color: white;
    z-index: 3;
}

#icono {
    width: 60px;
    height: 60px;
    background-color: blue;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

#icono a i {
    color: white;
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-left: 20px;
}

.container_forms {
    display: flex;
    width: 600px;
    height: 600px;
    position: absolute;
    margin-top: 60px;
    margin-left: 900px;
}

.container_inputs {
    padding: 350px 120px;
}

.container_inputs input {
    width: 350px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 21.5px;

}

#input_buton {
    margin-top: 15px;
}

#input_buton input {
    background-color: rgb(57, 172, 218);
    color: white;
    font-size: 15px;
    width: 300px;
    margin-left: 30px   ;
}

#input_email input {
    background-color: rgb(238, 230, 230);
    text-align: center;
}

i {
    position: absolute;
    margin-top: 23px;
    margin-left: 15px;
    color: gray;
}

.container_general {
    position: absolute;
    flex-direction: column;
    width: 400px;
    text-align: center;
    margin-top: 80px;
    margin-left: 90px;
}

#container_titulo {
    font-size: 30px;
}

#container_parrafo {
    justify-content: center;
    font-size: 18px;
}