header{
    display: flex;
    justify-content:space-between;
    min-height: 70px;   
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(135deg, #161569, #2f3f80, #525be0, #00b7d4);
    background-size:500%;
    animation: faminado 10s infinite;
}
@keyframes faminado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    width:px;
    margin-right: 10px;
    position: relative;
    border-radius: 20px;
    margin-left: 100px;
    
    
}

a{
    text-decoration: none;
    color:white;

}

nav a{
    font-weight: 600px;
    padding-right: 45px;
}

nav a:hover{
    color:#00b7d4;
}



.titulo{
    text-align: center;
}

.cajas {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 17%;

}

.caja1 {
    width: 350px;
    height: 450px;
    background-color: rgb(237, 245, 250);
    top: 200px;
    border: 1.5px solid rgb(228, 227, 227);
}

.caja2 {
    width: 350px;
    height: 450px;
    background-color: rgb(237, 245, 250);
    top: 200px;
    margin-left: 10px;
    border: 1.5px solid rgb(228, 227, 227);
}

.caja3 {
    width: 350px;
    height: 450px;
    background-color: rgb(237, 245, 250);
    top: 200px;
    margin-left: 10px;
    border: 1.5px solid rgb(228, 227, 227);
}

.caja1 #textos {
    position: absolute;
    top: 70%;
}